[run]
source =
    abaqus2dyna
omit =
    */abaqus2dyna/_version.py
    */test/*
branch = True
data_file = coverage/.coverage
[paths]
source = 
    src/abaqus2dyna
    *\site-packages\abaqus2dyna
    */site-packages/abaqus2dyna
[html]
directory = coverage/html
